backports.zoneinfo
beautifulsoup4
certifi
charset-normalizer
click
colorama
dataclasses
dateparser
feedparser
Flask
Flask-Cors
html5lib
idna
importlib-metadata
importlib-resources
itsdangerous
Jinja2
MarkupSafe
Pillow
pygooglenews
python-dateutil
pytz
pytz-deprecation-shim
regex
requests
six
soupsieve
typing-extensions
tzdata
tzlocal
urllib3
webencodings
Werkzeug
xlrd
zipp
gunicorn